body{
    background-color: #002134;
    color:white;
    margin: 0px;
}
h1{
    margin-top: 0px;
    font-family: 'Satisfy', cursive;;
    font-size: 50px ;
}

#para{
    font-family: "Consolas";
    font-size: large;
}

h1,p{
    position: relative;
    left: 70%;
    top: 200px;
}