body{
    background-image: url('backimg.jpg');
    color: white;
    margin: 0px;
}
h1{
    margin-top: 0px;
    font-family: 'Satisfy', cursive;;
    font-size: 50px ;
    position: relative;
    left: 10%;
    top: 270px;
}
#para-id{
    font-family: 'Satisfy', cursive;;
    font-size: 30px ;
    position: relative;
    left: 10%;
    top: 260px; 
}
img{
    border-radius: 50%;
}